<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136217612465-f6i7bh7dpiclcaekqqthtrr9ptkaptar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136217612465-f6i7bh7dpiclcaekqqthtrr9ptkaptar</string>
	<key>API_KEY</key>
	<string>AIzaSyA03rHrtCkJUEKQAfYc9VJTwedQVXtrJqE</string>
	<key>GCM_SENDER_ID</key>
	<string>136217612465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LilMasala.InSite</string>
	<key>PROJECT_ID</key>
	<string>insitev2</string>
	<key>STORAGE_BUCKET</key>
	<string>insitev2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136217612465:ios:5146f538fdec42d3d9d290</string>
</dict>
</plist>